body {
  font-family: 'Open Sans', sans-serif;
}

.bg-gray {
  background-color: $gray;
}

.bg-gray--desktop {
  background-color: $gray-ultra-light;
}

.bg-transparent {
  background-color: transparent;
}

.bg-white {
    background-color:$white;
}

.bg-red-light {
  background-color: $red-light;
}

.banner-fluid {
  margin: $space-sm 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.show-app {
  display: block !important;
}

.btn:focus {
  outline: none !important;
}

input, select {
  color: $lead !important;
    font-family: 'Open Sans', sans-serif !important;
}
