.content-pills {

  ol.carousel-indicators {
    background-color: white;
    opacity: 0.8;
    padding: $space-sm $space-xs;
    width: $space-xl +25px;
    position: absolute;
    bottom: -10px;
    left: auto;
    right: 0;


    li{
      background-color: $red;
      opacity: 0.5;
      &.active {
        background-color: $red;
        opacity: 1;
      }
    }
  }

}

.mCSB_horizontal.mCSB_inside>.mCSB_container {
  display: flex !important;
  min-width: 700px !important;
  -ms-display: inline-block !important;
}

.product-list {
  .mCustomScrollBox  {
    background-color: $gray;
  }

  .mCSB_scrollTools {
    &.mCSB_scrollTools_horizontal {
      .mCSB_dragger {
        .mCSB_dragger_bar {
          background-color: $lead;
          margin-top: 7px;
          height: 5px;
        }
      }
    }
  }


  .mCSB_scrollTools {
    &.mCSB_scrollTools_horizontal {
      .mCSB_draggerRail {
        height: 5px;
        background-color: $lead-light;
        opacity: 0.5;
      }
    }
  }
}

.nav.nav-tabs {
  margin-left: $space-sm + 10px;
  border: 0;

  li {
    background-color: transparent;

    &.active {
      a {
        @extend %tabs-works ;
      }

    }
  }
}

.tab-content {
  color:$blue-dark;
  font-size: $space-sm ;
  background-color: $white;
  padding: $space-sm;
  text-align: justify;

  h1 {
    font-size: $space-sm + 3px;
    padding: $space-sm 0;
    margin: 0;
  }
}

.sprites-arrow-select-fake {
  position: relative;
  right:$space-sm +10px;
}

.nav-page {
  margin: 0 auto;
  text-align: center;

  li {
    a {
      background: transparent;
      border: 0;
      color: $lead-ultra-light;
      font-size: $space-sm + $space-xs;

      &.active {
        background-color: $red-live;
        font-size: $space-md;
        border-radius: 5px;
        width: $space-md + 10px;
        height: $space-md + 10px;
        color:$white;
        padding: 0;
      }
    }
  }
}

.radio-button,
.checkbox {
  position: relative;
  margin: 20px 0;
  display: block;
}
.checkbox { display: block; }

.radio-button input,
.checkbox input {
  position: absolute;
  margin: 5px;
  padding: 0;
  /* for mobile accessibility (iOS Label Bug) */
  visibility: hidden;
}
.radio-button .label-visible,
.checkbox .label-visible {
  margin-left: 2em;
  margin-bottom: 0;
}


.fake-radiobutton,
.fake-checkbox{
  position: absolute;
  display: block;
  top: 0;
  left: 3px;
  width: 20px;
  height: 20px;
  border: 1px solid slategray;
  background-color: white;
}
.fake-radiobutton:after,
.fake-checkbox:after {
  content: "";
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background: $blue-ultra-light;
  transform: translateX(-50%) translateY(-50%);
}

.fake-radiobutton { border-radius: 50%; }
.fake-radiobutton:after { border-radius: 50%; }

input[type="radio"]:checked + span .fake-radiobutton:after,
input[type="checkbox"]:checked + span .fake-checkbox:after { display: block; }
