$red:#b71c1c;
$red-light:#ed2c2a;
$red-dark:#670909;
$red-ultra-dark:#880d0d;

$white:#ffffff;
$gray:#eceff1;
$gray-light:#cfd8dc;

$blue-light:#607d8b;
$blue:#0066c4;
$blue-ultra-dark:#3d68af;
$blue-dark:#455a64;

$green:#70c75c;

$lead:#37474f;
$lead-ultra-light:#90a4ae;
$lead-light:#cfd8dc;
$lead-dark:#333333;
$lead-ultra-dark:#263238;
