.sprites-money-ico,
.sprites-smartstore-ico,
.sprites-pig-ico,
.sprites-american-express-bandeira,
.sprites-all-dp-cart,
.sprites-bebida-cart,
.sprites-close,
.sprites-clean-cart,
.sprites-elo-bandeira,
.sprites-menu-hamburguer,
.sprites-frios-cart,
.sprites-zukkin-logo-mobile,
.sprites-white-list,
.sprites-arrow-select-white,
.sprites-master-bandeira,
.sprites-boleto,
.sprites-arrow-select-fake,
.sprites-arrow-select-fake-up,
.sprites-dinner-bandeira,
.sprites-lati,
.sprites-arrow-right-fake,
.sprites-arrow-left-fake,
.sprites-check,
.sprites-check-in,
.sprites-list,
.sprites-bebi,
.sprites-cart-icon,
.sprites-change-store,
.sprites-horti,
.sprites-merce,
.sprites-all-dp,
.sprites-perfum,
.sprites-search-mobile-icon,
.sprites-cere,
.sprites-matin,
.sprites-user-white,
.sprites-pedidos,
.sprites-user-icon,
.sprites-higi,
.sprites-sobre,
.sprites-carnes,
.sprites-frio,
.sprites-back,
.sprites-visa {
  background-image: url("sprites.png");
  display: inline-block;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: 619px 54px; }

.sprites-money-ico {
  background-position: 0px 0px;
  width: 56px;
  height: 54px;
  text-indent: 56px; }

.sprites-smartstore-ico {
  background-position: -56px 0px;
  width: 52px;
  height: 52px;
  text-indent: 52px; }

.sprites-pig-ico {
  background-position: -108px 0px;
  width: 56px;
  height: 52px;
  text-indent: 56px; }

.sprites-american-express-bandeira {
  background-position: -164px 0px;
  width: 30px;
  height: 30px;
  text-indent: 30px; }

.sprites-all-dp-cart {
  background-position: -164px -30px;
  width: 23px;
  height: 23px;
  text-indent: 23px; }

.sprites-bebida-cart {
  background-position: -194px 0px;
  width: 29px;
  height: 28px;
  text-indent: 29px; }

.sprites-close {
  background-position: -194px -28px;
  width: 28px;
  height: 26px;
  text-indent: 28px; }

.sprites-clean-cart {
  background-position: -223px 0px;
  width: 28px;
  height: 27px;
  text-indent: 28px; }

.sprites-elo-bandeira {
  background-position: -223px -27px;
  width: 27px;
  height: 27px;
  text-indent: 27px; }

.sprites-menu-hamburguer {
  background-position: -251px 0px;
  width: 36px;
  height: 26px;
  text-indent: 36px; }

.sprites-frios-cart {
  background-position: -251px -26px;
  width: 33px;
  height: 25px;
  text-indent: 33px; }

.sprites-zukkin-logo-mobile {
  background-position: -287px 0px;
  width: 26px;
  height: 25px;
  text-indent: 26px; }

.sprites-white-list {
  background-position: -287px -25px;
  width: 22px;
  height: 21px;
  text-indent: 22px; }

.sprites-arrow-select-white {
  background-position: -287px -46px;
  width: 8px;
  height: 7px;
  text-indent: 8px; }

.sprites-master-bandeira {
  background-position: -313px 0px;
  width: 35px;
  height: 22px;
  text-indent: 35px; }

.sprites-boleto {
  background-position: -313px -22px;
  width: 32px;
  height: 22px;
  text-indent: 32px; }

.sprites-arrow-select-fake {
  background-position: -313px -44px;
  width: 11px;
  height: 10px;
  text-indent: 11px; }

.sprites-arrow-select-fake-up {
  background-position: -324px -44px;
  width: 10px;
  height: 9px;
  text-indent: 10px; }

.sprites-dinner-bandeira {
  background-position: -348px 0px;
  width: 28px;
  height: 22px;
  text-indent: 28px; }

.sprites-lati {
  background-position: -348px -22px;
  width: 21px;
  height: 21px;
  text-indent: 21px; }

.sprites-arrow-right-fake {
  background-position: -348px -43px;
  width: 10px;
  height: 11px;
  text-indent: 10px; }

.sprites-arrow-left-fake {
  background-position: -358px -43px;
  width: 10px;
  height: 11px;
  text-indent: 10px; }

.sprites-check {
  background-position: -376px 0px;
  width: 31px;
  height: 21px;
  text-indent: 31px; }

.sprites-check-in {
  background-position: -376px -21px;
  width: 31px;
  height: 21px;
  text-indent: 31px; }

.sprites-list {
  background-position: -407px 0px;
  width: 22px;
  height: 21px;
  text-indent: 22px; }

.sprites-bebi {
  background-position: -407px -21px;
  width: 22px;
  height: 20px;
  text-indent: 22px; }

.sprites-cart-icon {
  background-position: -429px 0px;
  width: 23px;
  height: 21px;
  text-indent: 23px; }

.sprites-change-store {
  background-position: -429px -21px;
  width: 16px;
  height: 20px;
  text-indent: 16px; }

.sprites-horti {
  background-position: -452px 0px;
  width: 19px;
  height: 20px;
  text-indent: 19px; }

.sprites-merce {
  background-position: -452px -20px;
  width: 15px;
  height: 19px;
  text-indent: 15px; }

.sprites-all-dp {
  background-position: -452px -39px;
  width: 15px;
  height: 15px;
  text-indent: 15px; }

.sprites-perfum {
  background-position: -471px 0px;
  width: 18px;
  height: 19px;
  text-indent: 18px; }

.sprites-search-mobile-icon {
  background-position: -471px -19px;
  width: 17px;
  height: 18px;
  text-indent: 17px; }

.sprites-cere {
  background-position: -471px -37px;
  width: 17px;
  height: 17px;
  text-indent: 17px; }

.sprites-matin {
  background-position: -489px 0px;
  width: 20px;
  height: 18px;
  text-indent: 20px; }

.sprites-user-white {
  background-position: -489px -18px;
  width: 18px;
  height: 18px;
  text-indent: 18px; }

.sprites-pedidos {
  background-position: -489px -36px;
  width: 18px;
  height: 18px;
  text-indent: 18px; }

.sprites-user-icon {
  background-position: -509px 0px;
  width: 18px;
  height: 18px;
  text-indent: 18px; }

.sprites-higi {
  background-position: -509px -18px;
  width: 17px;
  height: 17px;
  text-indent: 17px; }

.sprites-sobre {
  background-position: -509px -35px;
  width: 16px;
  height: 16px;
  text-indent: 16px; }

.sprites-carnes {
  background-position: -527px 0px;
  width: 22px;
  height: 17px;
  text-indent: 22px; }

.sprites-frio {
  background-position: -527px -17px;
  width: 21px;
  height: 15px;
  text-indent: 21px; }

.sprites-back {
  background-position: -549px 0px;
  width: 23px;
  height: 16px;
  text-indent: 23px; }

.sprites-visa {
  background-position: -572px 0px;
  width: 47px;
  height: 15px;
  text-indent: 47px; }
