footer {
  background-color: $gray;

  &.reset-footer{
    background-color: #eceff1;
    .footer-third-container {
        .payment-icons {
          background-color: #ffffff !important;
          margin: 0 !important;
          border-bottom: 0 !important;
        }
    }

    .footer-content {
      margin-bottom: 0 !important;
    }

    .footer-container {
      background-color: #ffffff !important;
      margin-top: 15px;
      height: 115px;
      padding: 30px !important;
    }

    .copyright-content {
      padding: 15px ;
    }
  }

  .footer-line {
    .container {
      .container-footer-line {
        background-color: $white;
        padding: $space-lg - 10px;
        height: $space-xl + 25px;

        ul {
          &.menu-footer--line {
            display: flex;
            margin-top: $space-xs + $space-xs;
            height: $space-md - 10px;

            li{
              padding: 0 10px;
              border-right: 2px solid $blue-dark;

              &:last-child {
                border-right: 0;
              }

              a {
                color: $blue-dark;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }

  .footer-content {
    margin-bottom: 70px;
    position: relative;
    .container {
      .footer-container{
        background: $gray-super-light;
        color:$blue-dark;
        padding: $space-lg - 10px;

        h1 {
          font-weight: bold;
          font-size: $space-sm;
        }

        ul {
          margin-top: $space-md;
          li {
            line-height: $space-sm + 10px;

            a {
              color:$blue-dark;
              font-size: $space-sm - 2
              px;
            }
          }
        }

        .content-flex {
          display: flex;

          .content-left, .content-right {
            width: 50%;
          }
        }
      }

      .footer-second-container {
        &.line-warning {
          background-color: $red-live;
          width: 100%;
          height: $space-md;

          .content-warnig {
            padding: $space-xs $space-sm;
            color:$white;
            font-size: $space-sm - $space-xs;
          }
        }
      }

      .footer-third-container {
        background: $gray-super-light;

        .payment-icons {
          border-bottom: 1px solid $lead-light;
          height: 85px;
          margin: $space-lg 0 $space-sm;
          ul {
            display: flex;
            max-width: 400px;
            margin: 0 auto;

            li {
              font-weight: bold;
              padding:0 $space-xs;
              color:$blue-dark;
            }
          }
        }

        .copyright-content {
          p {
            font-size: $space-sm - 4px;
            color:$blue-dark;
          }
        }
      }
    }
  }

  .footer-fixe{
    height: $space-lg + 20px;
    position: fixed;
    bottom:0;
    background: $gray;
    width: 100%;

    .arrow-info {
      background-color: $red-opaco;
      height: $space-lg + 20px;
      margin-left: -15px;
      padding: $space-sm 0;

      &:after {
        content:"";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 35px 0 35px 20px;
        border-color: transparent transparent transparent #9c2121;
        line-height: 0px;
        _border-color: #000000 #000000 #000000 #9c2121;
        _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
        float: right;
        position: absolute;
        right: -5px;
        top: 0;
      }

      .title {
        color:$white;
        font-size: $space-sm - 2px;
      }

      .text {
        color:$white;
        font-size: $space-sm;
        font-weight: bold;
      }

      a {
        color:$white;
        text-decoration: underline;
        margin-top: $space-sm + $space-xs;
      }
    }

    .store-buy-content {
      display:flex;
      border-right: 1px solid $lead-light;
      .text {
        width: 50%;
        padding: $space-sm;
        span {
          color: $lead-dark;
          font-weight: bold;
        }
      }

      .item {
        width: 50%;
        padding: $space-sm;


        .sprites-arrow-select-fake {
          right: -10px !important;
        }
      }

      @extend %store-change--element;
    }

    .store-block {
      display: flex;
      padding: $space-xs 0;
      border-right: 1px solid $lead-light;

      .sprite-content {
        padding: 20px 5px;
      }

      .text-content {
        padding: 10px;
        font-size:$space-xs + $space-xs;
        color:$blue;

        strong {
          font-size: $space-sm;
          margin-left: $space-xs + 3px;
        }
      }
    }

    .btn-red--comparar  {
      margin-top: $space-sm;

      &:before {
        content:none;
      }
    }

    .a-content{
      padding: $space-md 0;

      a {
        color: $lead-ultra-light;
      }
    }
  }
}

.hidden {
  display: none;
}

.btn-footer-hide.show{
  display: block;
}
