// variables
@import "../variables/_pallete";
@import "../variables/_variables";

//utilities
@import "../utilities/_placeholder";
@import "../utilities/_mixins";
@import "../utilities/_button";
@import "../utilities/replace";
@import "../utilities/_fonts";

footer{
  text-align: center;

  .no-padding-mobile {
    @extend %no-padding--mobile ;
  }

  .bg-white {
    .list-links {
      padding: $space-md 0;
      background-color: $white;
      list-style: none;

      li {
        line-height: $space-md;
        a {
          @extend %links ;
          font-weight: bold;
          font-size: $space-sm + 2px;
        }
      }
    }
  }

  .collapse-footer {
    border-bottom:1px solid $gray-light;

    .collapse-btn {
      text-align: left;
      width: 100%;
      display: block;
      background-color: $gray;
      border: 0;
      color: $blue-dark;
      font-weight: bold;
      font-size: $space-sm + 3px;
      height: $space-lg + $space-sm;
      border-top:1px solid $gray-light;
      padding: 0 $space-md;
    }

    .collapse {
      ul {
        list-style: none;
        text-align: left;
        padding: 0 $space-md;

        li {
          line-height:  $space-md;

          a {
            @extend %links ;
          }
        }
      }
    }
  }

  .bg-red-light {
    height: $space-xl + 20px;
    padding: $space-md;

    p {
      padding: 0;
      color: $white;
      text-align: left;
      font-size: $space-sm - 5px;
      line-height: $space-md - 10px;;
    }
  }

}
