.sprites-compare,
.sprites-carteira,
.sprites-file,
.sprites-money-ico,
.sprites-arrow-white-down,
.sprites-arrow-right-fake,
.sprites-arrow-left-fake,
.sprites-arrow-select-fake,
.sprites-arrow-select-fake-up,
.sprites-smartstore-ico,
.sprites-arrow-white-up,
.sprites-eye,
.sprites-arrow-select-white,
.sprites-arrow-down-red,
.sprites-pig-ico,
.sprites-arrow-right-box-red,
.sprites-close,
.sprites-facebook-icon,
.sprites-arrow-left-box-red,
.sprites-menu-hamburguer,
.sprites-zukkin-logo-desktop,
.sprites-bebida-cart,
.sprites-cart-gray-icon,
.sprites-scarface,
.sprites-truck-icon,
.sprites-american-express-bandeira,
.sprites-change-storeWhite,
.sprites-cart-icon-desktop,
.sprites-compare-icon,
.sprites-mes-icon,
.sprites-clean-cart,
.sprites-merce,
.sprites-all-dp,
.sprites-elo-bandeira,
.sprites-gps-payment,
.sprites-frios-cart,
.sprites-zukkin-logo-mobile,
.sprites-back,
.sprites-all-dp-cart,
.sprites-recharge,
.sprites-next-blue,
.sprites-boleto-logo,
.sprites-boleto,
.sprites-cart-desktop-xs,
.sprites-master-bandeira,
.sprites-dinner-bandeira,
.sprites-logo-card,
.sprites-pedidos-desktop,
.sprites-lati,
.sprites-prev-blue,
.sprites-white-list,
.sprites-list,
.sprites-list-desktop,
.sprites-check-in,
.sprites-check,
.sprites-card-payment,
.sprites-cart-icon,
.sprites-list-blue,
.sprites-arrow-product-left,
.sprites-left-arrow-carrousel,
.sprites-change-store,
.sprites-change-storeRed,
.sprites-change-storeRedLive,
.sprites-arrow-product-right,
.sprites-right-arrow-carrousel,
.sprites-bebi,
.sprites-x,
.sprites-horti,
.sprites-perfum,
.sprites-search-mobile-icon,
.sprites-pedidos,
.sprites-0-stars-extra-large,
.sprites-user-payment,
.sprites-user-icon,
.sprites-user-icon-desktop,
.sprites-user-white,
.sprites-matin,
.sprites-percent,
.sprites-account-blue,
.sprites-search-icon-blue,
.sprites-carnes,
.sprites-cere,
.sprites-higi,
.sprites-sobre,
.sprites-big-arrow-down,
.sprites-big-arrow-up,
.sprites-visa,
.sprites-frio,
.sprites-menu-hamburguer-desktop,
.sprites-5-stars-large,
.sprites-0-stars-mediun,
.sprites-3-stars-small,
.sprites-4-stars-small,
.sprites-5-stars-small,
.sprites-1-stars-small,
.sprites-2-stars-small {
  background-image: url("sprites.png");
  display: inline-block;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: 1378px 66px; }

.sprites-compare {
  background-position: 0px 0px;
  width: 49px;
  height: 66px;
  text-indent: 49px; }

.sprites-carteira {
  background-position: -49px 0px;
  width: 66px;
  height: 66px;
  text-indent: 66px; }

.sprites-file {
  background-position: -115px 0px;
  width: 84px;
  height: 65px;
  text-indent: 84px; }

.sprites-money-ico {
  background-position: -199px 0px;
  width: 56px;
  height: 54px;
  text-indent: 56px; }

.sprites-arrow-white-down {
  background-position: -199px -54px;
  width: 14px;
  height: 12px;
  text-indent: 14px; }

.sprites-arrow-right-fake {
  background-position: -213px -54px;
  width: 10px;
  height: 11px;
  text-indent: 10px; }

.sprites-arrow-left-fake {
  background-position: -223px -54px;
  width: 10px;
  height: 11px;
  text-indent: 10px; }

.sprites-arrow-select-fake {
  background-position: -233px -54px;
  width: 11px;
  height: 10px;
  text-indent: 11px; }

.sprites-arrow-select-fake-up {
  background-position: -244px -54px;
  width: 10px;
  height: 9px;
  text-indent: 10px; }

.sprites-smartstore-ico {
  background-position: -255px 0px;
  width: 52px;
  height: 52px;
  text-indent: 52px; }

.sprites-arrow-white-up {
  background-position: -255px -52px;
  width: 15px;
  height: 14px;
  text-indent: 15px; }

.sprites-eye {
  background-position: -270px -52px;
  width: 20px;
  height: 14px;
  text-indent: 20px; }

.sprites-arrow-select-white {
  background-position: -290px -52px;
  width: 8px;
  height: 7px;
  text-indent: 8px; }

.sprites-arrow-down-red {
  background-position: -290px -59px;
  width: 7px;
  height: 7px;
  text-indent: 7px; }

.sprites-pig-ico {
  background-position: -307px 0px;
  width: 56px;
  height: 52px;
  text-indent: 56px; }

.sprites-arrow-right-box-red {
  background-position: -363px 0px;
  width: 43px;
  height: 40px;
  text-indent: 43px; }

.sprites-close {
  background-position: -363px -40px;
  width: 28px;
  height: 26px;
  text-indent: 28px; }

.sprites-facebook-icon {
  background-position: -391px -40px;
  width: 11px;
  height: 20px;
  text-indent: 11px; }

.sprites-arrow-left-box-red {
  background-position: -406px 0px;
  width: 43px;
  height: 40px;
  text-indent: 43px; }

.sprites-menu-hamburguer {
  background-position: -406px -40px;
  width: 36px;
  height: 26px;
  text-indent: 36px; }

.sprites-zukkin-logo-desktop {
  background-position: -449px 0px;
  width: 38px;
  height: 37px;
  text-indent: 38px; }

.sprites-bebida-cart {
  background-position: -449px -37px;
  width: 29px;
  height: 28px;
  text-indent: 29px; }

.sprites-cart-gray-icon {
  background-position: -487px 0px;
  width: 36px;
  height: 36px;
  text-indent: 36px; }

.sprites-scarface {
  background-position: -487px -36px;
  width: 34px;
  height: 30px;
  text-indent: 34px; }

.sprites-truck-icon {
  background-position: -523px 0px;
  width: 46px;
  height: 36px;
  text-indent: 46px; }

.sprites-american-express-bandeira {
  background-position: -523px -36px;
  width: 30px;
  height: 30px;
  text-indent: 30px; }

.sprites-change-storeWhite {
  background-position: -553px -36px;
  width: 16px;
  height: 20px;
  text-indent: 16px; }

.sprites-cart-icon-desktop {
  background-position: -569px 0px;
  width: 37px;
  height: 34px;
  text-indent: 37px; }

.sprites-compare-icon {
  background-position: -569px -34px;
  width: 32px;
  height: 32px;
  text-indent: 32px; }

.sprites-mes-icon {
  background-position: -606px 0px;
  width: 43px;
  height: 32px;
  text-indent: 43px; }

.sprites-clean-cart {
  background-position: -606px -32px;
  width: 28px;
  height: 27px;
  text-indent: 28px; }

.sprites-merce {
  background-position: -634px -32px;
  width: 15px;
  height: 19px;
  text-indent: 15px; }

.sprites-all-dp {
  background-position: -634px -51px;
  width: 15px;
  height: 15px;
  text-indent: 15px; }

.sprites-elo-bandeira {
  background-position: -649px 0px;
  width: 27px;
  height: 27px;
  text-indent: 27px; }

.sprites-gps-payment {
  background-position: -649px -27px;
  width: 22px;
  height: 25px;
  text-indent: 22px; }

.sprites-frios-cart {
  background-position: -676px 0px;
  width: 33px;
  height: 25px;
  text-indent: 33px; }

.sprites-zukkin-logo-mobile {
  background-position: -676px -25px;
  width: 26px;
  height: 25px;
  text-indent: 26px; }

.sprites-back {
  background-position: -676px -50px;
  width: 23px;
  height: 16px;
  text-indent: 23px; }

.sprites-all-dp-cart {
  background-position: -709px 0px;
  width: 23px;
  height: 23px;
  text-indent: 23px; }

.sprites-recharge {
  background-position: -709px -23px;
  width: 19px;
  height: 22px;
  text-indent: 19px; }

.sprites-next-blue {
  background-position: -709px -45px;
  width: 18px;
  height: 21px;
  text-indent: 18px; }

.sprites-boleto-logo {
  background-position: -732px 0px;
  width: 32px;
  height: 22px;
  text-indent: 32px; }

.sprites-boleto {
  background-position: -732px -22px;
  width: 32px;
  height: 22px;
  text-indent: 32px; }

.sprites-cart-desktop-xs {
  background-position: -732px -44px;
  width: 24px;
  height: 22px;
  text-indent: 24px; }

.sprites-master-bandeira {
  background-position: -764px 0px;
  width: 35px;
  height: 22px;
  text-indent: 35px; }

.sprites-dinner-bandeira {
  background-position: -764px -22px;
  width: 28px;
  height: 22px;
  text-indent: 28px; }

.sprites-logo-card {
  background-position: -764px -44px;
  width: 35px;
  height: 22px;
  text-indent: 35px; }

.sprites-pedidos-desktop {
  background-position: -799px 0px;
  width: 21px;
  height: 21px;
  text-indent: 21px; }

.sprites-lati {
  background-position: -799px -21px;
  width: 21px;
  height: 21px;
  text-indent: 21px; }

.sprites-prev-blue {
  background-position: -799px -42px;
  width: 18px;
  height: 21px;
  text-indent: 18px; }

.sprites-white-list {
  background-position: -820px 0px;
  width: 22px;
  height: 21px;
  text-indent: 22px; }

.sprites-list {
  background-position: -820px -21px;
  width: 22px;
  height: 21px;
  text-indent: 22px; }

.sprites-list-desktop {
  background-position: -820px -42px;
  width: 22px;
  height: 21px;
  text-indent: 22px; }

.sprites-check-in {
  background-position: -842px 0px;
  width: 31px;
  height: 21px;
  text-indent: 31px; }

.sprites-check {
  background-position: -842px -21px;
  width: 31px;
  height: 21px;
  text-indent: 31px; }

.sprites-card-payment {
  background-position: -842px -42px;
  width: 31px;
  height: 21px;
  text-indent: 31px; }

.sprites-cart-icon {
  background-position: -873px 0px;
  width: 23px;
  height: 21px;
  text-indent: 23px; }

.sprites-list-blue {
  background-position: -873px -21px;
  width: 22px;
  height: 21px;
  text-indent: 22px; }

.sprites-arrow-product-left {
  background-position: -873px -42px;
  width: 17px;
  height: 20px;
  text-indent: 17px; }

.sprites-left-arrow-carrousel {
  background-position: -896px 0px;
  width: 17px;
  height: 20px;
  text-indent: 17px; }

.sprites-change-store {
  background-position: -896px -20px;
  width: 16px;
  height: 20px;
  text-indent: 16px; }

.sprites-change-storeRed {
  background-position: -896px -40px;
  width: 16px;
  height: 20px;
  text-indent: 16px; }

.sprites-change-storeRedLive {
  background-position: -913px 0px;
  width: 16px;
  height: 20px;
  text-indent: 16px; }

.sprites-arrow-product-right {
  background-position: -913px -20px;
  width: 16px;
  height: 19px;
  text-indent: 16px; }

.sprites-right-arrow-carrousel {
  background-position: -913px -39px;
  width: 16px;
  height: 19px;
  text-indent: 16px; }

.sprites-bebi {
  background-position: -929px 0px;
  width: 22px;
  height: 20px;
  text-indent: 22px; }

.sprites-x {
  background-position: -929px -20px;
  width: 20px;
  height: 20px;
  text-indent: 20px; }

.sprites-horti {
  background-position: -929px -40px;
  width: 19px;
  height: 20px;
  text-indent: 19px; }

.sprites-perfum {
  background-position: -951px 0px;
  width: 18px;
  height: 19px;
  text-indent: 18px; }

.sprites-search-mobile-icon {
  background-position: -951px -19px;
  width: 17px;
  height: 18px;
  text-indent: 17px; }

.sprites-pedidos {
  background-position: -951px -37px;
  width: 18px;
  height: 18px;
  text-indent: 18px; }

.sprites-0-stars-extra-large {
  background-position: -969px 0px;
  width: 178px;
  height: 19px;
  text-indent: 178px; }

.sprites-user-payment {
  background-position: -969px -19px;
  width: 18px;
  height: 18px;
  text-indent: 18px; }

.sprites-user-icon {
  background-position: -969px -37px;
  width: 18px;
  height: 18px;
  text-indent: 18px; }

.sprites-user-icon-desktop {
  background-position: -987px -19px;
  width: 18px;
  height: 18px;
  text-indent: 18px; }

.sprites-user-white {
  background-position: -987px -37px;
  width: 18px;
  height: 18px;
  text-indent: 18px; }

.sprites-matin {
  background-position: -1005px -19px;
  width: 20px;
  height: 18px;
  text-indent: 20px; }

.sprites-percent {
  background-position: -1005px -37px;
  width: 18px;
  height: 18px;
  text-indent: 18px; }

.sprites-account-blue {
  background-position: -1025px -19px;
  width: 18px;
  height: 18px;
  text-indent: 18px; }

.sprites-search-icon-blue {
  background-position: -1025px -37px;
  width: 16px;
  height: 17px;
  text-indent: 16px; }

.sprites-carnes {
  background-position: -1043px -19px;
  width: 22px;
  height: 17px;
  text-indent: 22px; }

.sprites-cere {
  background-position: -1043px -36px;
  width: 17px;
  height: 17px;
  text-indent: 17px; }

.sprites-higi {
  background-position: -1065px -19px;
  width: 17px;
  height: 17px;
  text-indent: 17px; }

.sprites-sobre {
  background-position: -1065px -36px;
  width: 16px;
  height: 16px;
  text-indent: 16px; }

.sprites-big-arrow-down {
  background-position: -1082px -19px;
  width: 17px;
  height: 15px;
  text-indent: 17px; }

.sprites-big-arrow-up {
  background-position: -1082px -34px;
  width: 17px;
  height: 15px;
  text-indent: 17px; }

.sprites-visa {
  background-position: -1099px -19px;
  width: 47px;
  height: 15px;
  text-indent: 47px; }

.sprites-frio {
  background-position: -1099px -34px;
  width: 21px;
  height: 15px;
  text-indent: 21px; }

.sprites-menu-hamburguer-desktop {
  background-position: -1120px -34px;
  width: 24px;
  height: 15px;
  text-indent: 24px; }

.sprites-5-stars-large {
  background-position: -1147px 0px;
  width: 140px;
  height: 15px;
  text-indent: 140px; }

.sprites-0-stars-mediun {
  background-position: -1147px -15px;
  width: 81px;
  height: 13px;
  text-indent: 81px; }

.sprites-3-stars-small {
  background-position: -1287px 0px;
  width: 91px;
  height: 11px;
  text-indent: 91px; }

.sprites-4-stars-small {
  background-position: -1287px -11px;
  width: 91px;
  height: 11px;
  text-indent: 91px; }

.sprites-5-stars-small {
  background-position: -1287px -22px;
  width: 91px;
  height: 10px;
  text-indent: 91px; }

.sprites-1-stars-small {
  background-position: -1287px -32px;
  width: 91px;
  height: 10px;
  text-indent: 91px; }

.sprites-2-stars-small {
  background-position: -1287px -42px;
  width: 91px;
  height: 10px;
  text-indent: 91px; }
