.filter-catalogo {
  margin-top: 25px;

  .filter-catalogo--title {
    h1 {
      color: $lead;
      font-size: $space-sm + $space-xs;
      font-weight: bold;
      margin: 0;
      padding:23px 0 15px 0;

      span {
        color: $red-live;
        font-weight: normal;
      }
    }

    h2 {
      color: $gray-dark;
      font-size: $space-sm + $space-xs;
    }

    .link {
      color: $lead-ultra-light;
    }

    .link-all {
      color: $red-live;
    }
  }

  .orderby{
    margin-top: 25px;

    select {
      border: 0;
    }
  }

  .block-filter {
    input {
      margin-bottom: 15px;
      border-radius: 0;
      height: 40px;
    }
  }

  .content-product--vitrine {
    margin: $space-sm 0;

    .products-group {

    }
  }
}
